@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    padding-top: 70px;
    padding-bottom: 30px;
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

/**
 * Application navbar header
 */
#header {
    background-color: #f7df1e;
}

#header h2, #header h3, #header h4, #header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header .logo {
    float: right;
    width: 33px;
    margin-top: -18px;
}

#header a:hover {
    text-decoration: none;
}


/**
 * Application footer
 */
#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}


#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.jumbotron p {
    font-size: 18px;
}

.intro p:first-of-type {
    text-align: center;
}

.intro-logo {
    float: right;
    padding-left: 24px;
}

.what-is-codemash p:first-of-type {
    text-align: center;
}

.what-is-nodebots p:first-of-type {
    text-align: center;
}

.what-is-johnny-five p:first-of-type {
    text-align: center;
}

.who-sponsors-this p:first-of-type {
    text-align: center;
}

.what-is-johnny-five p:first-of-type img {
    width: 300px;
}

.getting-started img {
  width: 500px;
}

.hack-act p:last-of-type {
  text-align: center;
}

.carousel {
  text-align: center;
}
