body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    padding-top: 70px;
    padding-bottom: 30px;
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

.nav > li > a {
    padding: 6px 10px;
}

.jumbotron p {
    font-size: 18px;
}

.panel-custom .panel-heading {
    border-bottom-color: #696969;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 15px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
/*    background-color: #f5f5f5;*/
/*    border-right: 1px solid #eee;*/
  }
}

.nav-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}

.panel-default > .panel-heading {
    color: #696969;
}


/**
 * Application navbar header
 */
#header {
    background-color: #f7df1e;
}

#header h2, #header h3, #header h4, #header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header .navbar-brand {
    height: auto;
    padding: 0px;
}

#header .navbar-brand a {
    color: #232323;
}

#header .navbar-right {
    float: right !important;
}

#header .logo {
    width: 33px;
    margin-top: 7px;
}

#header a:hover {
    text-decoration: none;
}


/**
 * Application footer
 */
#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}


#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
/*    font-size: 1.1em;*/
    font-weight: bold;
}

.intro p:first-of-type {
    text-align: center;
}

.intro-logo {
    float: right;
    padding-left: 24px;
}

.what-is-codemash p:first-of-type {
    text-align: center;
}

.what-is-nodebots p:first-of-type {
    text-align: center;
}

.what-is-johnny-five p:first-of-type {
    text-align: center;
}

.who-sponsors-this p:first-of-type {
    text-align: center;
}

.what-is-johnny-five p:first-of-type img {
    width: 300px;
}

.getting-started img {
  width: 500px;
}

.hack-act p:last-of-type {
  text-align: center;
}

.carousel {
  text-align: center;
}
